aiohttp
asgiref
async-timeout
attrs
bleach
blinker
certifi
chardet
discord-py
dj-database-url
django
django-heroku
gunicorn
idna
importlib-metadata
jsonpickle
multidict
oauthlib
packaging
psycopg2
pyparsing
pytz
pyyaml
raygun4py
requests
requests-oauthlib
six
sqlparse
urllib3
webencodings
websockets
whitenoise
yarl
zipp
